{% extends template('page-layout-main') %}

{% define data = {
    question: _view.question
} %}

{% block content %}
    <div>
            <h2 style="padding: 10px; ">{{ data.question.question }}</h2>
            <h3 style="padding: 10px; ">{{ data.question.answer }}</h3>
            <h3 style="padding: 10px; ">{{ data.question.state }}</h3>
{#            <p style="padding: 10px; ">Votes Up <b> {{ data.question.getVotesUp() }} </b></p>#}
{#            <p style="padding: 10px; ">Votes Down <b> {{ data.question.getVotesDown() }} </b></p>#}
{#            <a style="padding: 10px; background: green; " href="/faq/vote-up?id={{ data.question.id_question}}" >Vote Up</a>#}
{#            <a style="padding: 10px; background: red; " href="/faq/vote-down?id={{ data.question.id_question}}" >Vote Down</a>#}
            <div style="margin-top: 10px;padding: 1px; background: black"></div>
    </div>
{% endblock %}
